html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

.disappearLargeMedia {
  display: block;
  /* Large Screens (i.e. TV's, etc.) */ }
  @media only screen and (min-width: 2800px) {
    .disappearLargeMedia {
      display: none; } }

.flex-parent, body main .main-content .people-container ul, body main .main-content .people-container ul .personCard .nameContainer, body nav, body main .main-content, body main .main-content .form-container form fieldset ul li, body main .main-content .people-container ul .personCard .dates, body main .main-content .people-container ul > li > .family, body main .main-content .people-container ul .personCard figure, body, body main, body main .main-content .people-container ul .personCard, body main .main-content article header, body main .main-content article section, body main .main-content article section .details-container .details-header, body main .main-content .people-container, body main .main-content article, body main .main-content article section .details-container, body footer {
  display: -webkit-flex;
  display: flex; }

.flex-parent, body main .main-content .people-container ul, body main .main-content .people-container ul .personCard .nameContainer {
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

body nav, body main .main-content, body main .main-content .form-container form fieldset ul li, body main .main-content .people-container ul .personCard .dates {
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap; }

body main .main-content .people-container ul > li > .family, body main .main-content .people-container ul .personCard figure {
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap; }

body, body main, body main .main-content .people-container ul .personCard {
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap; }

body main .main-content article header, body main .main-content article section, body main .main-content article section .details-container .details-header, body main .main-content .people-container {
  -webkit-flex-direction: row;
  flex-direction: row; }

body main .main-content article, body main .main-content article section .details-container, body footer {
  -webkit-flex-direction: column;
  flex-direction: column; }

body nav, body main .main-content, body main .main-content article section, body main .main-content .form-container form fieldset ul li, body main .main-content .people-container ul, body main .main-content .people-container ul .personCard .nameContainer {
  -webkit-justify-content: space-around;
  justify-content: space-around; }

.flex-parent, body main .main-content article header, body main .main-content article section .details-container .details-header {
  -webkit-justify-content: space-between;
  justify-content: space-between; }

body main .main-content .people-container ul > li > .family, body main .main-content .people-container ul .personCard, body footer {
  -webkit-justify-content: center;
  justify-content: center; }

body main .main-content .people-container ul > li > .family, body main .main-content .people-container ul .personCard, body footer {
  -webkit-align-items: center;
  align-items: center; }

body, body nav, body main, body main .main-content, body main .main-content article, body main .main-content article header, body main .main-content article section, body main .main-content article section .details-container, body main .main-content article section .details-container .details-header, body main .main-content .people-container ul .personCard .dates {
  -webkit-align-items: stretch;
  align-items: stretch; }

.jlr-grey-black {
  background-color: #262a27; }

.jaguar-red {
  background-color: #9e1b32; }

.land-rover-green {
  background-color: #005a2b; }

.grey-1 {
  background-color: #4c5154; }

.grey-2 {
  background-color: #808588; }

.grey-3 {
  background-color: #919b9d; }

.grey-3-light {
  background-color: #e3e6e6; }

.grey-4 {
  background-color: #c6c7c3; }

.grey-4-light {
  background-color: #f1f1f0; }

.jlr-blue {
  background-color: #00A5D8; }

.jlr-orange {
  background-color: #ff6808; }

.hyperlink {
  background-color: #4f5cd6; }

.flex-parent {
  max-width: 50vw; }
  .flex-parent > .colors {
    flex: 0 0 100px;
    height: 100px;
    margin: 10px; }

.orange-lt-bg {
  background-color: #ffd38c; }

.orange-viv-bg {
  background-color: #fe9c00; }

.blue-lt-bg {
  background-color: #b2f0ff; }

.blue-viv-bg {
  background-color: #53b5ce; }

.yellow-lt-bg {
  background-color: #ffffb2; }

.yellow-viv-bg {
  background-color: #ffff00; }

.green-lt-bg {
  background-color: #cdffb2; }

.green-viv-bg {
  background-color: #59ff00; }

.white {
  color: #FFF; }

.white-bg {
  background-color: #FFF; }

.grey-bg {
  background-color: #c4c4c4; }

.black-bg {
  background-color: #000; }

.overlay-bg {
  background-color: rgba(0, 0, 0, 0.8); }

@font-face {
  font-family: 'SourceSansPro';
  src: url("../fonts/SourceSansPro/SourceSansPro-Regular.eot");
  src: url("../fonts/SourceSansPro/SourceSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro/SourceSansPro-Regular.otf") format("opentype"), url("../fonts/SourceSansPro/SourceSansPro-Regular.svg#SourceSansPro") format("svg");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: 'SourceSansProExtraLight';
  src: url("../fonts/SourceSansPro/SourceSansPro-ExtraLight.eot");
  src: url("../fonts/SourceSansPro/SourceSansPro-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro/SourceSansPro-ExtraLight.otf") format("opentype"), url("../fonts/SourceSansPro/SourceSansPro-ExtraLight.svg#SourceSansPro") format("svg");
  font-style: normal;
  font-weight: 200; }
@font-face {
  font-family: 'SourceSansProLight';
  src: url("../fonts/SourceSansPro/SourceSansPro-Light.eot");
  src: url("../fonts/SourceSansPro/SourceSansPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro/SourceSansPro-Light.otf") format("opentype"), url("../fonts/SourceSansPro/SourceSansPro-Light.svg#SourceSansPro") format("svg");
  font-weight: 300; }
@font-face {
  font-family: 'SourceSansProLightItalic';
  src: url("../fonts/SourceSansPro/SourceSansPro-LightItalic.eot");
  src: url("../fonts/SourceSansPro/SourceSansPro-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro/SourceSansPro-LightItalic.otf") format("opentype"), url("../fonts/SourceSansPro/SourceSansPro-LightItalic.svg#SourceSansPro") format("svg");
  font-style: italic;
  font-weight: 300; }
@font-face {
  font-family: 'SourceSansProItalic';
  src: url("../fonts/SourceSansPro/SourceSansPro-Italic.eot");
  src: url("../fonts/SourceSansPro/SourceSansPro-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro/SourceSansPro-Italic.otf") format("opentype"), url("../fonts/SourceSansPro/SourceSansPro-Italic.svg#SourceSansPro") format("svg");
  font-style: italic;
  font-weight: 400; }
@font-face {
  font-family: 'SourceSansProSemibold';
  src: url("../fonts/SourceSansPro/SourceSansPro-Semibold.eot");
  src: url("../fonts/SourceSansPro/SourceSansPro-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro/SourceSansPro-Semibold.otf") format("opentype"), url("../fonts/SourceSansPro/SourceSansPro-Semibold.svg#SourceSansPro-Semibold") format("svg");
  font-style: normal;
  font-weight: 600; }
@font-face {
  font-family: 'SourceSansProBold';
  src: url("../fonts/SourceSansPro/SourceSansPro-Bold.eot");
  src: url("../fonts/SourceSansPro/SourceSansPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro/SourceSansPro-Bold.otf") format("opentype"), url("../fonts/SourceSansPro/SourceSansPro-Bold.svg#SourceSansPro-Semibold") format("svg");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: 'SourceSansProBlack';
  src: url("../fonts/SourceSansPro/SourceSansPro-Black.eot");
  src: url("../fonts/SourceSansPro/SourceSansPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro/SourceSansPro-Black.otf") format("opentype"), url("../fonts/SourceSansPro/SourceSansPro-Black.svg#SourceSansPro-Semibold") format("svg");
  font-style: normal;
  font-weight: 900; }
@font-face {
  font-family: 'SourceCodePro';
  src: url("../fonts/SourceCodePro/SourceCodePro-Regular.eot");
  src: url("../fonts/SourceCodePro/SourceCodePro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceCodePro/SourceCodePro-Regular.ttf") format("opentype"), url("../fonts/SourceCodePro/SourceCodePro-Regular.svg#SourceCodePro") format("svg");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: 'SourceCodeProExtraLight';
  src: url("../fonts/SourceCodePro/SourceCodePro-ExtraLight.eot");
  src: url("../fonts/SourceCodePro/SourceCodePro-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceCodePro/SourceCodePro-ExtraLight.ttf") format("opentype"), url("../fonts/SourceCodePro/SourceCodePro-ExtraLight.svg#SourceCodePro") format("svg");
  font-style: normal;
  font-weight: 200; }
@font-face {
  font-family: 'SourceCodeProLight';
  src: url("../fonts/SourceCodePro/SourceCodePro-Light.eot");
  src: url("../fonts/SourceCodePro/SourceCodePro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceCodePro/SourceCodePro-Light.ttf") format("opentype"), url("../fonts/SourceCodePro/SourceCodePro-Light.svg#SourceCodePro") format("svg");
  font-weight: 300; }
@font-face {
  font-family: 'SourceCodeProLightItalic';
  src: url("../fonts/SourceCodePro/SourceCodePro-LightItalic.eot");
  src: url("../fonts/SourceCodePro/SourceCodePro-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceCodePro/SourceCodePro-LightItalic.ttf") format("opentype"), url("../fonts/SourceCodePro/SourceCodePro-LightItalic.svg#SourceCodePro") format("svg");
  font-style: italic;
  font-weight: 300; }
@font-face {
  font-family: 'SourceCodeProItalic';
  src: url("../fonts/SourceCodePro/SourceCodePro-Italic.eot");
  src: url("../fonts/SourceCodePro/SourceCodePro-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceCodePro/SourceCodePro-Italic.ttf") format("opentype"), url("../fonts/SourceCodePro/SourceCodePro-Italic.svg#SourceCodePro") format("svg");
  font-style: italic;
  font-weight: 400; }
@font-face {
  font-family: 'SourceCodeProSemiBold';
  src: url("../fonts/SourceCodePro/SourceCodePro-Semibold.eot");
  src: url("../fonts/SourceCodePro/SourceCodePro-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceCodePro/SourceCodePro-Semibold.ttf") format("opentype"), url("../fonts/SourceCodePro/SourceCodePro-Semibold.svg#SourceCodePro-Semibold") format("svg");
  font-style: normal;
  font-weight: 600; }
@font-face {
  font-family: 'SourceCodeProBold';
  src: url("../fonts/SourceCodePro/SourceCodePro-Bold.eot");
  src: url("../fonts/SourceCodePro/SourceCodePro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceCodePro/SourceCodePro-Bold.ttf") format("opentype"), url("../fonts/SourceCodePro/SourceCodePro-Bold.svg#SourceCodePro-Semibold") format("svg");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: 'SourceCodeProBlack';
  src: url("../fonts/SourceCodePro/SourceCodePro-Black.eot");
  src: url("../fonts/SourceCodePro/SourceCodePro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceCodePro/SourceCodePro-Black.ttf") format("opentype"), url("../fonts/SourceCodePro/SourceCodePro-Black.svg#SourceCodePro-Semibold") format("svg");
  font-style: normal;
  font-weight: 900; }
h1 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 1rem;
  font-size: 7rem;
  color: #262a27; }

h2 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 1rem;
  font-size: 6rem;
  color: #262a27; }

h3 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 1rem;
  font-size: 5rem;
  color: #262a27; }

h4 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 1rem;
  font-size: 4rem;
  color: #262a27; }

h5 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 1rem;
  font-size: 3.6rem;
  color: #262a27; }

h6 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 1rem;
  font-size: 3rem;
  color: #262a27; }

h6 {
  text-transform: uppercase; }

p {
  color: #333;
  font: 400 2rem SourceSansPro, sans-serif;
  margin-bottom: 1em; }

article section h1 {
  font-family: SourceSansProBold, sans-serif; }
article section h2 {
  font-family: SourceSansPro, sans-serif;
  margin: 0 0 20px;
  line-height: 1em; }
article section h3 {
  font-family: SourceSansPro, sans-serif;
  line-height: 1em;
  margin: 0.5em 0; }
article section h4 {
  font-family: SourceSansPro, sans-serif;
  line-height: 1em;
  margin: 0.5em 0; }

/**
 * TODO: import fibonaccme random color generator
 * 		 this will be for the family tree visual display grouping
 */
html {
  font-size: 10px; }

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%; }

body {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  body .hidden {
    display: none; }
  body header {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex: 0;
    flex: 0;
    text-align: center; }
  body nav {
    padding-top: 2rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex: 1;
    flex: 1; }
    body nav button {
      -webkit-flex: 1;
      flex: 1; }
  body main {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex: 10;
    flex: 10; }
    body main .main-nav {
      -webkit-flex: 1;
      flex: 1; }
    body main .main-content {
      -webkit-flex: 8;
      flex: 8;
      padding: 2rem; }
      body main .main-content #user-interaction {
        display: none; }
      body main .main-content article {
        -webkit-flex: auto;
        flex: auto;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-bottom: 1rem;
        overflow-y: auto; }
        body main .main-content article header {
          -webkit-flex: 1;
          flex: 1; }
          body main .main-content article header h1 {
            text-align: right;
            -webkit-flex: 2;
            flex: 2; }
          body main .main-content article header div {
            -webkit-flex: 1;
            flex: 1; }
        body main .main-content article section {
          -webkit-flex: 8;
          flex: 8;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box; }
          body main .main-content article section ol {
            flex: auto; }
          body main .main-content article section .details-container {
            -webkit-flex: 8;
            flex: 8;
            margin-right: 2rem; }
            body main .main-content article section .details-container .details-header {
              -webkit-flex: 1;
              flex: 1; }
              body main .main-content article section .details-container .details-header .details-name {
                -webkit-flex: 2;
                flex: 2;
                text-align: right; }
            body main .main-content article section .details-container .details-details {
              -webkit-flex: 8;
              flex: 8;
              overflow-y: auto; }
            body main .main-content article section .details-container .details-footer {
              -moz-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              -webkit-flex: 2;
              flex: 2;
              padding: 2rem;
              background-color: rgba(55, 55, 55, 0.5); }
          body main .main-content article section aside {
            -moz-border-radius: 7px;
            -webkit-border-radius: 7px;
            border-radius: 7px;
            -webkit-flex: 2;
            flex: 2;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            background-color: #aaa;
            padding: 2rem; }
        body main .main-content article footer {
          -webkit-flex: 1;
          flex: 1;
          text-align: center; }
      body main .main-content .form-container {
        flex: auto;
        display: none;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
        body main .main-content .form-container form {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box; }
          body main .main-content .form-container form fieldset {
            border: 0;
            outline: none; }
            body main .main-content .form-container form fieldset legend {
              font-family: SourceSansProSemibold; }
            body main .main-content .form-container form fieldset ul {
              list-style: none; }
              body main .main-content .form-container form fieldset ul li label {
                -webkit-flex: auto;
                flex: auto;
                text-align: right;
                padding-right: 1%;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box; }
              body main .main-content .form-container form fieldset ul li input {
                -webkit-flex: auto;
                flex: auto;
                text-align: left;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box; }
              body main .main-content .form-container form fieldset ul li select {
                -webkit-flex: auto;
                flex: auto; }
              body main .main-content .form-container form fieldset ul .formButtonContainer {
                margin-top: 20px;
                text-align: center; }
      body main .main-content .people-container {
        flex: auto;
        box-sizing: border-box;
        align-items: stretch;
        justify-content: space-evenly; }
        body main .main-content .people-container > section {
          width: 99vw;
          flex: none; }
          body main .main-content .people-container > section > h4 {
            text-align: center;
            text-transform: capitalize; }
        body main .main-content .people-container ul {
          list-style-image: none;
          list-style-type: none;
          margin-left: 0; }
          body main .main-content .people-container ul > li {
            -webkit-flex: 1;
            flex: 1;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border: 1px solid #333;
            border-radius: 4px; }
            body main .main-content .people-container ul > li > .family {
              -webkit-flex: 1;
              flex: 1;
              -moz-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box; }
          body main .main-content .people-container ul .patriarch, body main .main-content .people-container ul .matriarch {
            min-height: 5vh; }
          body main .main-content .people-container ul .personCard {
            min-height: 150px;
            max-width: 20vw;
            min-width: 20vw;
            -webkit-flex: 1;
            flex: 1;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box; }
            body main .main-content .people-container ul .personCard .nameContainer {
              -moz-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              -webkit-flex: auto;
              flex: auto; }
              body main .main-content .people-container ul .personCard .nameContainer .name {
                -webkit-flex: 1;
                flex: 1;
                font-size: 2rem;
                padding: 0.5rem;
                margin: 0; }
            body main .main-content .people-container ul .personCard figure {
              -webkit-flex: auto;
              flex: auto;
              -webkit-align-items: center;
              align-items: center; }
            body main .main-content .people-container ul .personCard figcaption {
              -webkit-flex: auto;
              flex: auto; }
            body main .main-content .people-container ul .personCard .personImage {
              -webkit-flex: auto;
              flex: auto;
              min-height: 5rem;
              max-height: 5rem;
              min-width: 5rem;
              max-width: 5rem;
              height: 50px;
              width: 50px;
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain; }
            body main .main-content .people-container ul .personCard .dates {
              -webkit-flex: auto;
              flex: auto;
              font-size: 2rem;
              text-align: center; }
              body main .main-content .people-container ul .personCard .dates > p {
                -webkit-flex: 1;
                flex: 1;
                margin: 0; }
  body footer {
    -webkit-flex: 1;
    flex: 1; }

ol {
  counter-reset: li;
  /* Initiate a counter */
  list-style: none;
  /* Remove default numbering */
  padding: 0;
  margin-bottom: 4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  ol > li {
    box-sizing: border-box;
    padding-left: 1rem; }
    ol > li:hover {
      cursor: pointer; }
    ol > li > p {
      position: relative;
      display: block;
      padding: .4em .4em .4em 6rem;
      margin: 0.5em 0;
      background: #ddd;
      color: #444;
      -moz-border-radius: 0.3em;
      -webkit-border-radius: 0.3em;
      border-radius: 0.3em;
      transition: all .3s ease-out;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      ol > li > p:hover {
        background: #aaa; }
      ol > li > p:before {
        content: counter(li);
        counter-increment: li;
        position: absolute;
        left: -0.75rem;
        top: 50%;
        margin-top: -1.3em;
        background: #00A5D8;
        height: 2em;
        width: 2em;
        line-height: 2;
        border: .3em solid #fff;
        text-align: center;
        font-weight: bold;
        -moz-border-radius: 2em;
        -webkit-border-radius: 2em;
        border-radius: 2em;
        transition: all .3s ease-out; }
    ol > li > ol {
      margin: 0 0 0 2rem;
      /* add some left margin for inner lists */ }

.buttonContainer {
  width: 100%;
  text-align: center; }

button {
  height: 3.3rem;
  max-width: 15rem;
  -webkit-appearance: none;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  outline: none; }

.createNewMale {
  color: black; }

.createNewFemale {
  color: black; }

.birthDate {
  width: 100%; }
