@font-face {
	font-family: 'SourceSansPro';
	src: url('../fonts/SourceSansPro/SourceSansPro-Regular.eot');
	src: url('../fonts/SourceSansPro/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/SourceSansPro/SourceSansPro-Regular.otf') format('opentype'),
	     url('../fonts/SourceSansPro/SourceSansPro-Regular.svg#SourceSansPro') format('svg');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'SourceSansProExtraLight';
	src: url('../fonts/SourceSansPro/SourceSansPro-ExtraLight.eot');
	src: url('../fonts/SourceSansPro/SourceSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/SourceSansPro/SourceSansPro-ExtraLight.otf') format('opentype'),
	     url('../fonts/SourceSansPro/SourceSansPro-ExtraLight.svg#SourceSansPro') format('svg');
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: 'SourceSansProLight';
	src: url('../fonts/SourceSansPro/SourceSansPro-Light.eot');
	src: url('../fonts/SourceSansPro/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/SourceSansPro/SourceSansPro-Light.otf') format('opentype'),
	     url('../fonts/SourceSansPro/SourceSansPro-Light.svg#SourceSansPro') format('svg');
	font-weight: 300;
}

@font-face {
	font-family: 'SourceSansProLightItalic';
	src: url('../fonts/SourceSansPro/SourceSansPro-LightItalic.eot');
	src: url('../fonts/SourceSansPro/SourceSansPro-LightItalic.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/SourceSansPro/SourceSansPro-LightItalic.otf') format('opentype'),
	     url('../fonts/SourceSansPro/SourceSansPro-LightItalic.svg#SourceSansPro') format('svg');
	font-style: italic;
	font-weight: 300;
}

@font-face {
	font-family: 'SourceSansProItalic';
	src: url('../fonts/SourceSansPro/SourceSansPro-Italic.eot');
	src: url('../fonts/SourceSansPro/SourceSansPro-Italic.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/SourceSansPro/SourceSansPro-Italic.otf') format('opentype'),
	     url('../fonts/SourceSansPro/SourceSansPro-Italic.svg#SourceSansPro') format('svg');
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: 'SourceSansProSemibold';
	src: url('../fonts/SourceSansPro/SourceSansPro-Semibold.eot');
	src: url('../fonts/SourceSansPro/SourceSansPro-Semibold.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/SourceSansPro/SourceSansPro-Semibold.otf') format('opentype'),
	     url('../fonts/SourceSansPro/SourceSansPro-Semibold.svg#SourceSansPro-Semibold') format('svg');
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: 'SourceSansProBold';
	src: url('../fonts/SourceSansPro/SourceSansPro-Bold.eot');
	src: url('../fonts/SourceSansPro/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/SourceSansPro/SourceSansPro-Bold.otf') format('opentype'),
	     url('../fonts/SourceSansPro/SourceSansPro-Bold.svg#SourceSansPro-Semibold') format('svg');
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'SourceSansProBlack';
	src: url('../fonts/SourceSansPro/SourceSansPro-Black.eot');
	src: url('../fonts/SourceSansPro/SourceSansPro-Black.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/SourceSansPro/SourceSansPro-Black.otf') format('opentype'),
	     url('../fonts/SourceSansPro/SourceSansPro-Black.svg#SourceSansPro-Semibold') format('svg');
	font-style: normal;
	font-weight: 900;
}

@font-face {
	font-family: 'SourceCodePro';
	src: url('../fonts/SourceCodePro/SourceCodePro-Regular.eot');
	src: url('../fonts/SourceCodePro/SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/SourceCodePro/SourceCodePro-Regular.ttf') format('opentype'),
	     url('../fonts/SourceCodePro/SourceCodePro-Regular.svg#SourceCodePro') format('svg');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'SourceCodeProExtraLight';
	src: url('../fonts/SourceCodePro/SourceCodePro-ExtraLight.eot');
	src: url('../fonts/SourceCodePro/SourceCodePro-ExtraLight.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/SourceCodePro/SourceCodePro-ExtraLight.ttf') format('opentype'),
	     url('../fonts/SourceCodePro/SourceCodePro-ExtraLight.svg#SourceCodePro') format('svg');
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: 'SourceCodeProLight';
	src: url('../fonts/SourceCodePro/SourceCodePro-Light.eot');
	src: url('../fonts/SourceCodePro/SourceCodePro-Light.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/SourceCodePro/SourceCodePro-Light.ttf') format('opentype'),
	     url('../fonts/SourceCodePro/SourceCodePro-Light.svg#SourceCodePro') format('svg');
	font-weight: 300;
}

@font-face {
	font-family: 'SourceCodeProLightItalic';
	src: url('../fonts/SourceCodePro/SourceCodePro-LightItalic.eot');
	src: url('../fonts/SourceCodePro/SourceCodePro-LightItalic.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/SourceCodePro/SourceCodePro-LightItalic.ttf') format('opentype'),
	     url('../fonts/SourceCodePro/SourceCodePro-LightItalic.svg#SourceCodePro') format('svg');
	font-style: italic;
	font-weight: 300;
}

@font-face {
	font-family: 'SourceCodeProItalic';
	src: url('../fonts/SourceCodePro/SourceCodePro-Italic.eot');
	src: url('../fonts/SourceCodePro/SourceCodePro-Italic.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/SourceCodePro/SourceCodePro-Italic.ttf') format('opentype'),
	     url('../fonts/SourceCodePro/SourceCodePro-Italic.svg#SourceCodePro') format('svg');
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: 'SourceCodeProSemiBold';
	src: url('../fonts/SourceCodePro/SourceCodePro-Semibold.eot');
	src: url('../fonts/SourceCodePro/SourceCodePro-Semibold.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/SourceCodePro/SourceCodePro-Semibold.ttf') format('opentype'),
	     url('../fonts/SourceCodePro/SourceCodePro-Semibold.svg#SourceCodePro-Semibold') format('svg');
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: 'SourceCodeProBold';
	src: url('../fonts/SourceCodePro/SourceCodePro-Bold.eot');
	src: url('../fonts/SourceCodePro/SourceCodePro-Bold.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/SourceCodePro/SourceCodePro-Bold.ttf') format('opentype'),
	     url('../fonts/SourceCodePro/SourceCodePro-Bold.svg#SourceCodePro-Semibold') format('svg');
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'SourceCodeProBlack';
	src: url('../fonts/SourceCodePro/SourceCodePro-Black.eot');
	src: url('../fonts/SourceCodePro/SourceCodePro-Black.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/SourceCodePro/SourceCodePro-Black.ttf') format('opentype'),
	     url('../fonts/SourceCodePro/SourceCodePro-Black.svg#SourceCodePro-Semibold') format('svg');
	font-style: normal;
	font-weight: 900;
}

$text-large: 3.4rem;
$text-medium: 3.2rem;
$body: 10px;
$h1: 7rem;
$h2: 6rem;
$h3: 5rem;
$h4: 4rem;
$h5: 3.6rem;
$h6: 3rem;
$headings: (h1: $h1, h2: $h2, h3: $h3, h4: $h4, h5: $h5, h6: $h6);

@each $heading, $size in $headings {
	#{$heading} {
		@include box-sizing(border-box);
		margin: 0;
		margin-bottom: 1rem;
		font-size: $size;
		color: $Grey-Black;
	}
}

h6 {
	text-transform: uppercase;
}

p {
	color: #333;
	font: 400 2rem SourceSansPro, sans-serif;
	margin-bottom: 1em;
}

article {
	section {
		h1 {
			font-family: SourceSansProBold, sans-serif;
		}
		h2 { // sectionTitle
			font-family: SourceSansPro, sans-serif;
			margin: 0 0 20px;
			line-height: 1em;
		}
		h3 { // sectionSubTitle
			font-family: SourceSansPro, sans-serif;
			line-height: 1em;
			margin: 0.5em 0;
			
		}
		h4 {
			font-family: SourceSansPro, sans-serif;
			line-height: 1em;
			margin: 0.5em 0;
		}
	}
}