@import "compass/reset";
@import "compass/css3";
@import "compass/typography/lists/bullets";
@import "responsive";
@import "flexbox";
@import "colors";
@import "typography";

html {font-size: 10px;}

html, body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: 100%;
}

body {
	@extend %flexColumnNoWrap;
	@extend %verticalFill;
	@include box-sizing(border-box);
	.hidden {
		display: none;
	}
	header {
		@include box-sizing(border-box);
		@include flex(0);
		text-align: center;
	}
	nav {
		padding-top: 2rem;
		@include box-sizing(border-box);
		@include flex(1);
		@extend %flexRowNoWrap;
		@extend %spaceAround;
		@extend %verticalFill;
		button {
			@include flex(1);
		}
	}
	main {
		@include box-sizing(border-box);
		@include flex(10);
		@extend %flexColumnNoWrap;
		@extend %verticalFill;

		.main-nav {
			@include flex(1);
		}

		.main-content {
			@include flex(8);
			@extend %flexRowNoWrap;
			@extend %verticalFill;
			@extend %spaceAround;
			padding: 2rem;
			border: 1px solid red;
			#user-interaction {
				display: none;
			}
			article {
				@extend %flexbox;
				@extend %flexColumn;
				@extend %verticalFill;
				@include flex(auto);
				@include box-sizing(border-box);
				margin-bottom: 1rem;
				overflow-y: auto;
				header {
					@include flex(1);
					@extend %flexbox;
					@extend %flexRow;
					@extend %verticalFill;
					@extend %spaceBetween;
					h1 {
						text-align: right;
						@include flex(2);
					}
					div {
						@include flex(1);
					}
				}
				section {
					@extend %flexbox;
					@extend %flexRow;
					@extend %verticalFill;
					@extend %spaceAround;
					@include flex(8);
					@include box-sizing(border-box);
					ol {
						flex: auto;
					}
					.details-container {
						@include flex(8);
						@extend %flexbox;
						@extend %flexColumn;
						@extend %verticalFill;
						margin-right: 2rem;
						.details-header {
							@include flex(1);
							@extend %flexbox;
							@extend %flexRow;
							@extend %verticalFill;
							@extend %spaceBetween;
							.details-name {
								@include flex(2);
								text-align: right;
							}
						}
						.details-details {
							@include flex(8);
							overflow-y: auto;
						}
						.details-footer {
							@include box-sizing(border-box);
							@include flex(2);
							padding: 2rem;
							background-color: rgba(55, 55, 55, 0.5);
						}
					}
					aside {
						@include border-radius(7px);
						@include flex(2);
						@include box-sizing(border-box);
						background-color: #aaa;
						padding: 2rem;
					}
				}
				footer {
					@include flex(1);
					text-align: center;
				}
			}
			.formContainer {
				flex: auto;
				display: none;
				@include box-sizing(border-box);
				form {
					@include box-sizing(border-box);
					fieldset {
						border: 0;
						outline: none;
						legend {
							font-family: SourceSansProSemibold;
						}
						ul {
							list-style: none;
							li {
								@extend %flexRowNoWrap;
								@extend %spaceAround;
								label {
									@include flex(auto);
									text-align: right;
									padding-right: 1%;
									@include box-sizing(border-box);
								}
								input {
									@include flex(auto);
									text-align: left;
									@include box-sizing(border-box);
								}
								select {
									@include flex(auto);
								}
							}
							.formButtonContainer {
								margin-top: 20px;
								text-align: center;
							}
						}
					}
				}
			}
			.peopleContainer {
				flex: auto;
				box-sizing: border-box;
				ul {
					@include no-bullet;
					@extend %flexRowWrap;
					@extend %spaceAround;
					.male {
						// background-color: $mancard;
					}
					.female {
						// background-color: $womancard;
					}
					> li {
						@include flex(1);
						@include box-sizing(border-box);
						border: 1px solid #333;
						border-radius: 4px;
						> .family {
							@include flex(1);
							@include box-sizing(border-box);
							@extend %flexColumnWrap;
							@extend %absoluteCenter;
						}
					}
					.patriarch, .matriarch {
						min-height: 5vh;
					}
					.personCard {
						min-height: 150px;
						max-width: 20vw;
						min-width: 20vw;
						@include flex(1);
						@include box-sizing(border-box);
						@extend %flexColumnNoWrap;
						@extend %absoluteCenter;
						.nameContainer {
							@include box-sizing(border-box);
							@extend %flexRowWrap;
							@extend %spaceAround;
							@include flex(auto);
							.name {
								@include flex(1);
								font-size: 2rem;
								padding: 0.5rem;
								margin: 0;
							}
						}
						figure {
							@include flex(auto);
							@extend %flexColumnWrap;
							@include alignItems(center);
						}
						figcaption {
							@include flex(auto);
						}
						.personImage {
							@include flex(auto);
							min-height: 5rem;
							max-height: 5rem;
							min-width: 5rem;
							max-width: 5rem;
							height: 50px;
							width: 50px;
							background-position: center;
							background-repeat: no-repeat;
							background-size: contain;
						}
						.dates {
							@include flex(auto);
							@extend %flexRowNoWrap;
							@extend %verticalFill;
							font-size: 2rem;
							text-align: center;
							> p {
								@include flex(1);
								margin: 0;
							}
						}
					}
				}
			}
		}
	}

	footer {
		@include flex(1);
		@extend %flexRowNoWrap;
		@extend %absoluteCenter;
	}
}

ol {
	counter-reset: li; /* Initiate a counter */
	list-style: none; /* Remove default numbering */
	padding: 0;
	margin-bottom: 4em;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	@include box-sizing(border-box);
	> li {
		box-sizing: border-box;
		padding-left: 1rem;
		&:hover {
			cursor: pointer;
		}
		> p {
			position: relative;
			display: block;
			padding: .4em .4em .4em 6rem;
			margin: 0.5em 0;
			background: #ddd;
			color: #444;
			@include border-radius(.3em);
			transition: all .3s ease-out;
			@include box-sizing(border-box);
			&:hover {
				background: #aaa;
			}
			&:before {
				content: counter(li);
				counter-increment: li;
				position: absolute;
				left: -0.75rem;
				top: 50%;
				margin-top: -1.3em;
				background: $Blue;
				height: 2em;
				width: 2em;
				line-height: 2;
				border: .3em solid #fff;
				text-align: center;
				font-weight: bold;
				@include border-radius(2em);
				transition: all .3s ease-out;
			}
		}
		> ol {
			margin: 0 0 0 2rem; /* add some left margin for inner lists */
		}
	}
}

.buttonContainer {
	width: 100%;
	text-align: center;
}

button {
	height: 3.3rem;
	max-width: 15rem;
	-webkit-appearance: none;
	margin: 0 auto;
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
}

.createNewMale {
	// background-color: $mancard;
	color: black;
}

.createNewFemale {
	// background-color: $womancard;
	color: black;
}

.birthDate {
	width: 100%;
}